<?xml version="1.0"?>
<launch>
  <arg name="tl" default="false"/>

  <rosparam file="$(find wsg_32_driver)/config/wsg32_controllers.yaml" command="load"/>

  <group ns="gripper_controller">
    <param name="robot_description"  command="$(find xacro)/xacro --inorder $(find wsg_32_gripper_description)/robots/gripper_standalone.urdf" />
    <param unless="$(arg tl)" name="ip" type="string" value="192.168.1.51"/>
    <param if="$(arg tl)" name="ip" type="string" value="192.168.1.52"/>
    <param name="port" type="int" value="1000"/>
    
    
    <node name="gripper_ros_control"  pkg="wsg_32_driver" type="gripper_ros_control" output="screen">
      <remap to="/joint_states" from="/gripper_controller/joint_states"/>
    </node>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          args="joint_state_controller trajectory_controller"/>
  </group>

</launch>

